
.contacto {
  width: 100%;
  height: 100vh;
  background: #F8F8F8;
  padding: 2.5em 1.5em 2em 1.5em;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contacto .contacto-info-svg {
  width: 340px;
  max-width: 35vw; /* O un valor que funcione bien en tu layout */
  min-width: 120px;
  height: auto;
  display: static;
}
.contacto-info-text{
  width: 40%;
  text-align: justify;

}
.contacto-info-text span{
  color: #7F7F7F;
}
.contacto h3, p{
  margin: 0;
}
.contacto-info{
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
  margin: 0;
}

.contacto-info h3 {
  font-size: 3.5em;
  color: #111;
  margin-bottom: 2rem;
  
}

.contacto-info p{
  font-size: 1.2em;
  color: #333;
  margin-bottom: 1rem;
}
.form-contacto {
  display: flex;
  width: 40%;
  max-width: 420px;
  min-width: 180px;
  flex-direction: column;
  gap: 1em;
}

.form-contacto input,
.form-contacto textarea {
  padding: 0.8em 1em;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 1em;
  font-family: inherit;
  background: #fff;
  color: #111;
  resize: none;
}
.arrow-icon{
  width: 30px;
  fill: #f3f3f3;
}
.form-contacto button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  background: #111;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.8em 1em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.form-contacto button:hover {
  background: #1C1C1C;
}

/* Responsive of contacto */
@media (max-width: 1440px){
  .contacto-info {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    justify-content: center;

  }
}
@media (max-width: 768px) {

  .contacto{
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .contacto form{
    margin-bottom: 2rem;
    width: 70%;
  }
  .contacto-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contacto-info-text{
    width: 95%;
    text-align: center;
  }

  .contacto-info h3 {
    font-size: 2.5em;
  }

  .contacto-info p {
    font-size: 1em;
  }
  .contacto-info-svg {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
} 

@media (max-width: 500px) {
  .contacto-info h3 {
    font-size: 2em;
  }
  .contacto-info p {
    font-size: 0.9em;
  }
  .contacto-info-svg {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}

@media (max-width: 320px) {
  .contacto-info-text {
    width: 95%;
    text-align: center;
  }
}
