.nosotros-container {
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);

    -webkit-backdrop-filter: blur(2px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nosotros-container h2{
    font-size: 2em;
    margin-top: 0;
    color: #333;
    
}
.nosotros-content h3{
    text-align: center;
    font-size: 1.5em;
    color: #555;
    margin-bottom: 0;
}
.nosotros-content p{
    font-size: 1.2em;
    color: #141414;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.nosotros-content span{
    color: #777777;
}
.nosotros-content{
    max-width: 40%;
    text-align: justify;

}

.nosotros-team-svg{
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 2rem 0;
}
@media (max-width: 1440px) {
    .nosotros-container {

        padding: 2rem 5rem;
    }
}

@media (max-width: 2560px) {
    .nosotros-container {
        padding: 2rem 3rem;
    }
    .nosotros-content {
        max-width: 50%;
    }
    .nosotros-team-svg {
        max-width: 500px;
    }
    
}
/* Nosotros responsive design */
@media (max-width: 768px) {
    .nosotros-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .nosotros-content {
        max-width: 85%;
        text-align: center;
    }
    .nosotros-team-svg {
        max-width: 100%;
    }
}